body {
    background-color: #120303;
}

.title {
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    z-index: 2;
}

.image {
    max-width: 600px;
    display: block;
    margin: auto;
    top: -192px;
    position: relative;
    z-index: 1;
}

.container {
    position: relative;
}
