body {
    background-color: #120303;
}

.title {
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    z-index: 2;
    margin: none;
}

.image {
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
    top: -192px;
    position: relative;
    z-index: 1;
    margin: none;
}

.container {
    position: relative;
    height: auto;
    margin: none;
    height: 100px;
}

.content {
    color: aliceblue;
    text-align: center;
    position: relative;
    top: -232px;
    z-index: 4;
/*    left: 560px;*/
    display: block;
}
